.first
{
	text-align: center;
	margin-top: 100px;
	font-size:20px;
	color: blue;
}
.sec
{
	text-align: center;
	margin-top: 10px;
	font-size:20px;
	color: blue;
}
#textboxid
{
    height:20px;
    width:250px;
    font-size:18px;
}
.feed{
	margin-left: 600px;
	font-size: 20px;
	margin-top: 10px;
	color: blue;
}
#comments
{
    height:50px;
    width:200px;
    font-size:15px;
}
.lol {

  padding: 10px 10px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 600px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}